@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

.slick-slide>div {
  margin: 0 10px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* for line after heading */
.heading_section::after {
  content: '';
  display: block;
  margin: 4px auto;
  width: 96%;
  background: #4FB846;
  border-radius: 18px;
  height: 3px;
}

.history_right::after {
  content: '';
  display: block;
  margin: 4px auto;
  width: 96%;
  background: #bd255b;
  border-radius: 18px;
  height: 3px;
}

.history_left::after {
  content: '';
  display: block;
  margin: 4px auto;
  width: 96%;
  background: #ffad19;
  border-radius: 18px;
  height: 3px;
}